*{box-sizing: border-box;}

body{
    margin: 0px
}

h1{
  font-family: 'poppins';
  font-weight: 700;
}

header {
  color: white;
  background-image: url(img/Groepsfotobewerkt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.headerhome{
  color: white;
  background-image: url(img/Groepsfotobewerkt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

header h1 {
  font-size: clamp(1rem, 5vw, 2.5rem);
  margin: 0;
}

main{
    margin: 0px auto;
    padding: 0px 50px;
    max-width: 1100px;
    justify-self: center;
}

footer {
    width: 100%;
    background-color: red;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  
  .footer {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    justify-self: center;
  }

  .footer img {
    width: clamp(7rem, 7vw, 10rem); 
    height: auto;
    filter: brightness(0) invert(1);
    margin-left: -20px; /* tenzij je bewust wil schuiven */
  }

  .footer a{
    color: white;
  }
  
  .footertop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
  
  .footerlogo, .footersocial {
    width: 50%;
  }

  .footerlogo{
    text-align: left;
  }
  .footersocial{
    text-align: right;
  }

  .footersocial h3{
    margin-top: 0px;
  }
  
  .footerbottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footerbottom ul{
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footerbottom a{
    color: white;
    text-decoration: none;
    display: block;
  }

.icons{
    text-align: right;
  }


.icons a{
    text-decoration: none;
    margin-left: 2%;
    
}

.fa-brands.fa-facebook.fa-2x{
    color: hsl(0, 0%, 100%);
}
.fa-brands.fa-facebook.fa-2x:hover{
    color: hsl(0, 0%, 50%);
}

.fa-brands.fa-instagram.fa-2x{
    color: hsl(0, 0%, 100%);
}
.fa-brands.fa-instagram.fa-2x:hover{
    color: hsl(0, 0%, 50%);
}

.fa-brands.fa-tiktok.fa-2x{
    color: hsl(0, 0%, 100%);
}
.fa-brands.fa-tiktok.fa-2x:hover{
    color: hsl(0, 0%, 50%);
}

h1{
    text-align: center; 
}


  
  /* Navbar */
  .navbarjrk {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: hsl(0, 0%, 20%);
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  /* Bij scrollen: hoogte kleiner */
  .navbarjrk.scrolled {
    height: 60px;
    background-color: hsla(0, 0%, 40%, 0.5);
  }
  
  /* Container */
  .navcontainerjrk {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo links */
  .navlogojrk {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .navlogojrk a {
    display: block;
    height: 100%;
  }
  
  .navlogojrk img {
    height: 100%;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
    filter: brightness(0) invert(1);
  }
  
  .navbarjrk.scrolled .navlogo img {
    transform: scale(0.7);
  }
  
  /* Menu rechts */
  .navmenujrk {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .navmenujrk li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  
  .navmenujrk li a:hover {
    background-color: hsl(0, 0%, 10%);
    border-radius: 8px;
  }
  

.primarybutton{
    font-size: clamp(0.6rem, 2vw, 1rem);
    padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1rem);
    background-color: hsl(0, 100%, 50%);
    border-radius: 10px;
    border: 0;
    margin: 0,5rem auto 0 auto;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.primarybutton a{
    text-decoration: none;
    color: white;
}

.primarybutton:hover{
    background-color: hsl(0, 100%, 45%);
    color: white;
    box-shadow: 1px 1px 5px grey
}



.Intro{
    display: flex;
    align-items: flex-start;
    margin: 10vh 0;
}

.Intro.reverse{
    flex-direction: row-reverse;
}

.Introimg, .Introtext{
    width: 50%;
}

.Introtext{
    padding: 2rem;
    padding-top: 0px;
    padding-right: 0px;
}

.Intro.reverse .Introtext{
    padding-left: 0px;
}

.Introimg img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    aspect-ratio: 16/9;
}

@media screen and (max-width:700px) {
    .Intro{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 0px;
        margin-top: 2rem;
        padding: 0px;
        gap: 1rem;
    }

    .Intro h3{
        padding-top: 0px;
        margin-top: 0px;
    }
    .Introtext{
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    .Introimg{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        padding: 0px;
    }

    .Introtext{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0px;
        margin: 0px;
    }

    .Intro.reverse{
        flex-direction: column;
    }

    .Intro.reverse .Introimg{
        order: 1;
    }

    .Intro.reverse .Introtext{
        order: 2;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.content{
    justify-content: center;
    align-content: center;
    width: 100%;
    justify-self: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.buttonbox{
    justify-items: center;
}

.activiteiten{
    display: flex;
    justify-content: space-between;
}

.contentblock{
    width: 30%;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
}

.contentblock img{
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media screen and (max-width:1000px) {
    .activiteiten img{
        width: 100%;
        margin-bottom: 10px;
    }
    .activiteiten{
        display: flex;
        justify-content: space-between;
        gap: 5%;
    }
    .contentblock{
        width: 50%;
    }
    .contentblock:last-child{
        display: none;
    }
}


@media screen and (max-width:700px) {
    .navbar a{
    padding: 10px 20px;
}
.navbar.scrolled{
    background-color: hsla(0, 0%, 40%, 0.5);  /* lichter grijs */
    padding: 0px 0;  
}
.navbar.scrolled a{
    padding: 5px 15px;
}
.activiteiten img{
    width: 100%;
    margin-bottom: 10px;
}
.activiteiten{
    display: block;
}
.contentblock{
    width: 100%;
}
.contentblock:not(:first-child){
    display: none;
}
}


.hoofdleiding{
    display: flex;
    gap: 20%;
    justify-content: center;
}

.persoon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    flex: 1 1 150px;
}

.persoon img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 1rem;
}


.groepen-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
    max-width: 1100px;
    margin: auto;
  }
  
  .groepblok {
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .groepblok img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .groepblok:hover img {
    transform: scale(1.05);
  }

  .custom-modal-width {
    max-width: 1200px;
    width: 95%;
  }

  .custom-modal-content {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
  }

 .modal-title{
  width: 100%;
  text-align: center;
  text-transform:uppercase;
 }

  .groep-beschrijving {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .leiding-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    gap: 3rem;
    justify-content: center;
    max-width: calc(5 * 250px + 4 * 2rem); /* 5 personen + 4 gaps van 2rem */
    margin: 0 auto;
    width: 100%;  
  }

  .leiding-row h4{
    font-weight: bold;
  }


  .leiding-col {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .leiding-foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }

  .sluitknop {
    background-color: black;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background 0.3s ease;
  }

  .sluitknop:hover {
    background-color: red;
  }
